One Hot Encoding.

Note: It converts categorical data into a binary vector of zeros and ones.

In [18]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [19]:
data= {'language': ['Bangali', 'English', 'Armenian', 'Russian', 'Pahari', 'Nepali']}
df= pd.DataFrame(data)
df

   language
0   Bangali
1   English
2  Armenian
3   Russian
4    Pahari
5    Nepali

In [20]:
encoder= OneHotEncoder()

encoded_data= encoder.fit_transform(df)

encoded_df= pd.DataFrame(encoded_data.toarray(), columns=encoder.get_feature_names_out(['language']))
encoded_df

   language_Armenian  language_Bangali  ...  language_Pahari  language_Russian
0                0.0               1.0  ...              0.0               0.0
1                0.0               0.0  ...              0.0               0.0
2                1.0               0.0  ...              0.0               0.0
3                0.0               0.0  ...              0.0               1.0
4                0.0               0.0  ...              1.0               0.0
5                0.0               0.0  ...              0.0               0.0

[6 rows x 6 columns]

Label Encoding

Label encoding is a simple technique that converts categorical data into integer values. Each category is assigned a unique integer value, and these integer values are used as the new feature.

In [21]:
from sklearn.preprocessing import LabelEncoder

In [22]:
data_flower = ['Lily', 'Rose', 'Jasmine', 'Lavender', 'Orchid']

encoder= LabelEncoder()

encoded_data= encoder.fit_transform(data_flower)
encoded_data

## Load the dataset

#data = pd.read_csv(‘your_data.csv’)

# Initialize the label encoder

#label_encoder = LabelEncoder()

# Apply label encoding to a specific column

#data[‘category_column’] = label_encoder.fit_transform(data[‘category_column’])

array([2, 4, 0, 1, 3])

In [23]:
print("Original data: ", data_flower)
print("Label Encoded data: ", encoded_data)
print("Catagory Mapping: ", dict(zip(data_flower, encoded_data)))

Original data:  ['Lily', 'Rose', 'Jasmine', 'Lavender', 'Orchid']
Label Encoded data:  [2 4 0 1 3]
Catagory Mapping:  {'Lily': np.int64(2), 'Rose': np.int64(4), 'Jasmine': np.int64(0), 'Lavender': np.int64(1), 'Orchid': np.int64(3)}